<widget id="A6095455169448" version="0.0.1">

    <name>爱旅行</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="index.html"/>

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>
    <!-- 微博接口配置 -->
    <feature name="sinaWeiBo">
        <param name="urlScheme" value="wb1132217156"/>
        <param name="apiKey" value="1132217156"/>
        <param name="registUrl" value="http://www.apicloud.com"/>
    </feature>
    <!-- 人工智能客服接口配置 -->
    <feature name="pdBot">
        <param name="AccessKey" value="MjM3NyM1ZDc5ZGJlNy0yYjRiLTQ1ZDYtYTI2YS0zZGMxYWU0MTkwMzcjOGJmMjFjNDYtNzkzOS00ZWM2LWJhMzUtMjE2NGEwYjk1NTEzIzc3NGZiZWUyOTVmNDYzYWI0MWQxODI2NDZlYzAwNDRi" />
      </feature>
      <!-- 音乐播放器接口配置 -->
      <preference name="backgroundMode" value="audio"/>
</widget>
